* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
h1{
  margin: 0 auto;
  text-align: center;
  padding: 1em;
}
img{
  width: 130px;
  border-radius: 8px;
}
label{
  font-size: 20px;
  color: #343434;
}
.input-name{
  width: 200px;
  height: 25px;

  border-radius: 8px;
  border: none;
  box-shadow: 0 0 3px grey;
}
.block-with-items-deezer{
  display: flex;
  flex-wrap: wrap;

  .container{
    display: flex;

    width: 284px;
    height: 180px;

    border: 1px solid gray;
    border-radius: 8px;
    box-shadow: 0 0 8px #8a8a89;

    background: #fffbf4;

    margin: .5em;

    .album-img{
      margin: .5em;
    }
    .info-about-artist{

      h4{
        padding: .3em 0;
      }
    }
  }
}
.block-with-items-itunes{
  display: flex;
  flex-wrap: wrap;

  .container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;

    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 0 0 8px #8a8a89;

    background: #fffbf4;

    width: 150px;
    height: 250px;

    margin: .5em;

    .album-img{

      img{
        width: 120px;
        height: 120px;

        padding: .3em;

        border-radius: 20px;
      }
    }
  }
}
