<form [formGroup]="formGroup">
  <label for="input-name">Enter name: </label>
  <input #writeWord type="text" id="input-name" class="input-name" formControlName="inputText"
         (keyup.enter)="addItemInCards(writeWord.value)">
  <h1 *ngIf="showTitle">Deezer</h1>
  <div class="block-with-items-deezer">
    <div class="container" *ngFor="let deezer of searchDeezer">
      <div class="album-img">
        <img src="{{deezer.album.cover_medium}}" alt="">
      </div>
      <div class="info-about-artist">
        <h4>Artist name</h4>
        <div>{{deezer.artist.name}}</div>
        <h4>Album</h4>
        <div>{{deezer.album.title}}</div>
        <h4>Track</h4>
        <div>{{deezer.title}}</div>
      </div>
    </div>
  </div>
  <h1 *ngIf="showTitle">ITunes</h1>
  <div class="block-with-items-itunes">
    <div class="container" *ngFor="let itunes of iTunes">
      <div class="album-img">
        <img src="{{itunes.artworkUrl100}}" alt="">
      </div>
      <div class="info-about-artist">
        <h4>Artist name</h4>
        <div>{{itunes.artistName}}</div>
        <h4>Track</h4>
        <div>{{itunes.trackName}}</div>
      </div>
    </div>
  </div>
</form>
